@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 32px;
  scroll-behavior: smooth;
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  -webkit-tap-highlight-color: transparent;
}

body {
  position: relative;
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

:target {
  scroll-margin-top: 100px;
}

.fancybox__container {
  z-index: 1999;
}

.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}

.span {
  background: linear-gradient(97.65deg, #56e0e0 0.33%, #58ab75 93.35%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(97.65deg, #56e0e0 0.33%, #58ab75 93.35%);
  height: 300px;
  box-shadow: 0px 4px 10px 0px rgba(1, 115, 153, 0.2);
}

.whatsappButton {
  position: fixed;
  bottom: 8px;
  left: 8px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  z-index: 99;
  align-items: center;
  justify-content: center;
}
.whatsappButton img {
  max-height: 48px;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}
header.scrolled {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
header nav {
  height: 100px;
  width: 100%;
}
header nav .container {
  padding: 10px;
}
header nav .container .navbar-brand img {
  height: 60px;
}
header nav .container .nav-links {
  height: 80px;
  display: flex;
  gap: 32px;
}
@media (max-width: 768px) {
  header nav .container .nav-links {
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    top: 100px;
    left: 0;
    height: 0;
    overflow: hidden;
    justify-content: center;
    position: absolute;
    z-index: 9999999;
    gap: 24px;
    transition: 0.5s ease-in-out;
  }
  header nav .container .nav-links.active {
    height: calc(100vh - 100px);
  }
}
header nav .container .nav-links li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@media (max-width: 768px) {
  header nav .container .nav-links li {
    height: 70px;
  }
}
header nav .container .nav-links li .nav-link {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  transition: all 0.3s ease-in-out;
}
header nav .container .nav-links li .nav-link:hover {
  color: #e3925b;
}
header nav .container .nav-links li .nav-link:hover::after {
  width: 100%;
}
header nav .container .nav-links li .nav-link.active {
  color: #e3925b;
}
header nav .container .nav-links li .nav-link.active::after {
  width: 100%;
}
header nav .container .nav-links li .nav-link::after {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 2px;
  background-color: #e3925b;
  width: 0;
  height: 2px;
  transition: all 0.3s ease-in-out;
}
header nav .container .buttons {
  height: 80px;
  display: flex;
  gap: 32px;
  align-items: center;
}
@media (max-width: 576px) {
  header nav .container .buttons {
    gap: 16px;
  }
}
header nav .container .buttons a {
  border: 1px solid #58ab75;
  color: #58ab75;
  font-size: 16px;
  transition: 0.3s ease-in-out;
  position: relative;
  font-weight: 500;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
}
header nav .container .buttons a:last-child {
  display: none;
}
@media (max-width: 768px) {
  header nav .container .buttons a:last-child {
    display: flex;
  }
}
header nav .container .buttons a i {
  line-height: 34px;
}
@media (max-width: 576px) {
  header nav .container .buttons a {
    font-size: 14px;
    line-height: 30px;
  }
}
header nav .container .buttons a::after {
  content: "";
  background-color: #58ab75;
  width: 0;
  border-radius: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transition: 0.3s ease-in-out;
  border-radius: 4px;
  z-index: -1;
  transform: translateX(-50%);
}
header nav .container .buttons a:hover {
  color: #fff;
  border-color: transparent;
}
header nav .container .buttons a:hover::after {
  width: 100%;
}

.hero-section {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
}
@media (max-width: 992px) {
  .hero-section {
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 120px;
  }
}
.hero-section .underlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% auto;
  opacity: 0.1;
  z-index: -1;
}
.hero-section .container {
  padding: 0 10px;
}
.hero-section .row {
  height: 100%;
}
.hero-section .row .col-12 {
  padding: 0 10px;
}
.hero-section .row .col-12 img {
  max-width: 100%;
}
.hero-section .row .text-container h1 {
  font-weight: 600;
  line-height: 1.6;
  margin: 36px 0;
  font-size: 42px;
  color: #000;
}
@media (max-width: 576px) {
  .hero-section .row .text-container h1 {
    font-size: 32px;
    margin: 16px 0;
    line-height: 1.4;
  }
}
.hero-section .row .text-container h1 span {
  color: #58ab75;
  position: relative;
}
.hero-section .row .text-container p {
  font-size: 18px;
  color: #000;
  margin-bottom: 36px;
}
@media (max-width: 576px) {
  .hero-section .row .text-container p {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 16px;
  }
}
.hero-section .row .text-container a {
  border: 1px solid #58ab75;
  color: #58ab75;
  padding: 4px 24px;
  font-size: 14px;
  transition: 0.3s ease-in-out;
  position: relative;
  font-weight: 500;
  border-radius: 4px;
  align-self: flex-start;
}
.hero-section .row .text-container a::after {
  content: "";
  background-color: #58ab75;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transition: 0.3s ease-in-out;
  border-radius: 4px;
  z-index: -1;
  transform: translateX(-50%);
}
.hero-section .row .text-container a:hover {
  color: #fff;
  border-color: transparent;
}
.hero-section .row .text-container a:hover::after {
  width: 100%;
}

.parteners .swiper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 200px;
}
.parteners .swiper .swiper-slide a {
  height: inherit;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parteners .swiper .swiper-slide a img {
  max-height: 70px;
}
.parteners .counter-wrapper {
  height: 380px;
  width: 100%;
  background: rgba(210, 237, 248, 0.462745098);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .parteners .counter-wrapper {
    height: 420px;
  }
}
.parteners .counter-wrapper .underlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/building-parallax-img.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  opacity: 0.1;
  z-index: -1;
}
.parteners .counter-wrapper .col-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.parteners .counter-wrapper .icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #58ab75;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parteners .counter-wrapper .icon img {
  max-height: 40px;
}
.parteners .counter-wrapper h4 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 600;
}
.parteners .counter-wrapper h5 {
  margin: 10px 0;
  font-size: 16px;
}

.faqs {
  padding: 30px 0;
}
.faqs.faq-page .faqs-content .accordion .accordion-item:nth-child(n+5) {
  display: block !important;
  transition: all 0.5s ease-in-out;
}
.faqs.faq-page .faqs-content .accordion .accordion-item:last-child {
  border: 0 !important;
}
.faqs .faqs-content {
  padding-top: 60px;
}
.faqs .faqs-content h3 {
  font-size: 20px;
  color: #58ab75;
  font-weight: 600;
  margin-bottom: 28px;
}
.faqs .faqs-content h3 i {
  transform: scaleX(-1);
}
.faqs .faqs-content .accordion .accordion-item:nth-child(n+5) {
  display: none;
  transition: all 0.5s ease-in-out;
}
.faqs .faqs-content .accordion.show .accordion-item:nth-child(n+5) {
  display: block;
}
.faqs .faqs-content .showbtn {
  border: none;
  outline: none;
  background: none;
  color: #58ab75;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.services-section {
  padding: 30px 0;
}
.services-section .txt {
  text-align: center;
  color: #000;
  font-weight: 500;
}
.services-section .hed {
  font-weight: 600;
  color: #58ab75;
  text-align: center;
  margin-bottom: 48px;
}
.services-section .shaded_card {
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 24px 16px;
  height: 100%;
}
.services-section .shaded_card a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-section .shaded_card .img img {
  max-width: 100%;
}
.services-section .shaded_card h3 {
  text-align: center;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  margin: 36px 0 24px;
}
.services-section .shaded_card h4 {
  text-align: center;
  color: #58ab75;
  font-size: 14px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 0;
}
.services-section .shaded_card p {
  text-align: center;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.privacy-policy {
  padding: 40px 0;
}
.privacy-policy br {
  line-height: 24px !important;
}
.privacy-policy h3 {
  font-size: 20px;
  color: #58ab75;
  font-weight: 600;
  margin-bottom: 14px;
}
.privacy-policy p {
  font-size: 15px;
  color: #484848;
}
.privacy-policy h6 {
  font-size: 16px;
  color: #000;
  font-weight: 600;
  margin-bottom: 14px;
}

.packages {
  margin: 48px 0;
  padding: 42px 0;
  overflow-x: hidden;
  position: relative;
}
.packages svg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.packages .txt {
  text-align: center;
  color: #000;
  font-weight: 500;
  margin-bottom: 48px;
}
.packages .hed {
  font-weight: 600;
  color: #58ab75;
  text-align: center;
}
.packages .package-card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  padding: 32px 24px;
  height: 360px;
  position: relative;
}
.packages .package-card.p2::after {
  content: "\f005";
  font-family: "Font Awesome 6 Pro";
  border-radius: 50%;
  position: absolute;
  left: 16px;
  top: 24px;
  font-size: 20px;
  color: #0f70e5;
}
.packages .package-card .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.packages .package-card .title h4 {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  color: #000;
}
.packages .package-card .title .price {
  font-size: 24px;
  color: #0f70e5;
  font-weight: bold;
  margin: 0;
}
.packages .package-card p {
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  margin: 0;
}
.packages .package-card a {
  border: 1px solid #0f70e5;
  color: #0f70e5;
  width: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  position: relative;
  font-weight: 500;
  border-radius: 4px;
  padding: 2px 0;
  align-self: flex-start;
}
.packages .package-card a span {
  color: #0f70e5;
}
.packages .package-card a:hover {
  border-color: transparent;
  background: #0f70e5;
}
.packages .package-card a:hover span {
  color: #fff;
}
.packages .package-card a:hover::after {
  width: 100%;
}

.features {
  padding: 60px 0;
  position: relative;
  overflow-x: hidden;
}
.features .circle1 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #d2edf8;
  position: absolute;
  left: -80px;
  top: 50px;
  z-index: -1;
}
.features .circle2 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #d2edf8;
  position: absolute;
  right: -20px;
  bottom: 0;
  z-index: -1;
}
.features .hed {
  font-weight: 600;
  color: #000;
  margin-bottom: 48px;
  text-align: center;
}
.features .feature-card {
  width: 100%;
  height: 200px;
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.features .feature-card::after {
  content: "";
  width: 0;
  position: absolute;
  top: -2px;
  height: 2px;
  left: 0;
  background: #58ab75;
  transition: all 0.4s ease-in-out;
}
.features .feature-card::before {
  content: "";
  width: 0;
  position: absolute;
  bottom: -2px;
  height: 2px;
  right: 0;
  background: #58ab75;
  transition: all 0.4s ease-in-out;
}
.features .feature-card:hover {
  border-radius: 0;
}
.features .feature-card:hover::after {
  width: 100%;
}
.features .feature-card:hover::before {
  width: 100%;
}
.features .feature-card .icon {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features .feature-card .icon img {
  max-height: 60px;
}
.features .feature-card h6 {
  text-align: center;
  color: #000;
  font-weight: 500;
  margin-top: 16px;
  line-height: 28px;
  font-size: 16px;
}

.testmonials {
  padding: 30px;
}
.testmonials .hed {
  font-weight: 600;
  color: #000;
  margin-bottom: 48px;
  text-align: center;
}
@media (max-width: 768px) {
  .testmonials {
    padding: 16px;
  }
}
.testmonials .swiper {
  max-height: 400px;
  padding: 16px;
}
.testmonials .testmonial-card {
  width: 100%;
  height: 320px;
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  gap: 18px;
  padding: 32px 16px;
}
.testmonials .testmonial-card:hover {
  box-shadow: none;
  border-color: #56e0e0;
}
.testmonials .testmonial-card i {
  font-size: 30px;
  color: #56e0e0;
}
.testmonials .testmonial-card p {
  text-align: center;
  font-style: italic;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
}
.testmonials .testmonial-card h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  line-height: 36px;
}

.contact-section {
  width: 100%;
  padding: 60px 0;
  position: relative;
}
.contact-section .txt {
  text-align: center;
  color: #000;
  font-weight: 500;
  margin-bottom: 48px;
}
.contact-section .hed {
  font-weight: 600;
  color: #58ab75;
  text-align: center;
}
.contact-section svg {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.contact-section .col-12 .shaded-card {
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
  padding: 24px 0;
}
.contact-section .col-12 .shaded-card .input-filed {
  padding: 0 16px;
  margin-bottom: 16px;
}
.contact-section .col-12 .shaded-card .input-filed input {
  height: 60px;
  padding: 16px;
  width: 100%;
  outline: none;
  font-size: 14px;
  border-radius: 4px;
  border: solid 1px #ccc;
  transition: 0.3s ease-in-out;
}
.contact-section .col-12 .shaded-card .input-filed textarea {
  width: 100%;
  height: 120px;
  font-size: 14px;
  padding: 16px;
  outline: none;
  border-radius: 4px;
  border: solid 1px #ccc;
  transition: 0.3s ease-in-out;
}
.contact-section .col-12 .shaded-card .input-filed input:focus,
.contact-section .col-12 .shaded-card .input-filed textarea:focus {
  border-color: #0f70e5;
}
.contact-section .col-12 .shaded-card button {
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  background: #58ab75;
  color: #fff;
  border-radius: 4px;
}

footer {
  background: #f3f3f9;
}
footer .container .col-12 {
  padding: 42px 32px 24px;
}
@media (max-width: 576px) {
  footer .container .col-12 {
    padding: 24px;
  }
}
footer .container .col-12:last-child {
  padding: 24px 0;
}
footer .container .col-12 a img {
  max-height: 100px;
}
footer .container .col-12 p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #000;
  margin-bottom: 0;
}
footer .container .col-12 .links li {
  margin-bottom: 5px;
}
footer .container .col-12 .links li a {
  transition: 0.3s ease-in-out;
  font-weight: 500;
  font-size: 15px;
  color: #000;
}
footer .container .col-12 .links li a:hover {
  color: #58ab75;
}
footer .copy {
  border-top: 1px solid #dbdbdb;
}
footer .copy p {
  color: #000;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
}
footer .copy p a {
  color: #58ab75;
}
footer .copy p a img {
  width: 36px;
}
footer .social-media {
  display: flex;
  gap: 28px;
}
footer .social-media li {
  cursor: pointer;
}
footer .social-media a {
  color: #58ab75;
  transition: all 0.3s ease-in-out;
}
footer .social-media a:hover {
  color: #0f70e5;
}
footer .social-media a:hover i {
  transition: 0.3s ease-in-out;
  transform: scale(1.5);
}

.accordion-button {
  text-align: inherit;
}

.accordion-button,
.accordion-body {
  padding: 16px 0 !important;
}

.accordion-button:not(.collapsed) {
  background: none !important;
}

.accordion-button::after {
  margin-right: auto !important;
  margin-left: initial;
}

.accordion-button:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.accordion-item {
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom: 1px solid #d7d7d7 !important;
  border-radius: 0 !important;
}
.accordion-item p {
  font-size: 14px;
}

.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}

.accordion-button {
  font-size: 14px !important;
  font-weight: 600;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border: 1px solid #484848;
  background: none;
  position: relative;
}
.swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swiper-pagination-bullet-active {
  border-color: #58ab75;
}
.swiper-pagination-bullet-active::after {
  background: #58ab75;
}

.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.main .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.main .wrapper video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .wrapper::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.main .form {
  position: absolute;
  width: min(600px, 100% - 32px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 48px 24px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(21, 21, 22, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 24px;
  z-index: 99;
}
.main .form form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main .form form .logo {
  height: 80px;
}
.main .form form h4 {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.main .form form .input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
.main .form form .input-field input {
  height: 50px;
  width: 100%;
  padding: 10px;
  color: #ffffff;
  font-size: 14px;
  background: none;
  outline: none;
  border-radius: 6px;
  border: 1px solid #41483a;
}
.main .form form .input-field input::-moz-placeholder {
  color: #bababa;
}
.main .form form .input-field input::placeholder {
  color: #bababa;
}
.main .form form .input-field label {
  font-size: 14px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 4px;
}
.main .form form .input-field label img {
  height: 14px;
}
.main .form form button {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  background: #e3925b;
  font-weight: 400;
}

.check div {
  display: flex;
  align-items: center;
  gap: 6px;
}
.check div label {
  color: #fff;
  cursor: pointer;
}
.check div input {
  width: 14px;
  height: 14px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
}
.check div input::after {
  width: 16px;
  height: 16px;
  content: "";
  border: 1px solid #bababa;
  border-radius: 4px;
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: center;
}
.check div input:checked:after {
  background: #e3925b;
  background-image: url("../images/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 0;
}/*# sourceMappingURL=style.css.map */