@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 32px;
  scroll-behavior: smooth;
  font-family: 'Tajawal', sans-serif;
  direction: rtl;
  -webkit-tap-highlight-color: transparent;
}
body {
  position: relative;
  overflow-x: hidden;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
:target {
  scroll-margin-top: 100px;
}
.fancybox__container {
  z-index: 1999;
}
.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}
$black: #161616;
$main: #58ab75;
$white: #fff;
$secondary: #eaf8f9;
$dark-green: #e3925b;
$gray: #777777;
$dark_blue: #172048;
$hover_blue: #05789d;
$linear_blue: linear-gradient(97.65deg, #56e0e0 0.33%, $main 93.35%);
$linear_blue-op: linear-gradient(197.65deg, #56e0e0 0.33%, $main 93.35%);
$linear_blue2: linear-gradient(180deg, #50d8db 0%, #05799d 38.02%, $main 100%),
  linear-gradient(0deg, #ffffff, #ffffff);
$btn_shadow: 0px 4px 10px 0px #01739933;
$home_background: #f4feff;
$black_color: #000;
$light_gray: #c4c4c4;
.span {
  background: $linear_blue;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: $white;
}
::-webkit-scrollbar-thumb {
  background-image: $linear_blue;
  height: 300px;
  box-shadow: $btn_shadow;
}
@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin clearInput {
  border: none;
  background: none;
  outline: none;
}
// **************************** //
.whatsappButton {
  position: fixed;
  bottom: 8px;
  left: 8px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  z-index: 99;
  align-items: center;
  justify-content: center;
  img {
    max-height: 48px;
  }
}
header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
  transition: all .3s ease-in-out;
  &.scrolled {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  nav {
    height: 100px;
    width: 100%;
    .container {
      padding: 10px;
      .navbar-brand img {
        height: 60px;
      }
      .nav-links {
        height: 80px;
        display: flex;
        gap: 32px;
        @media (max-width: 768px) {
          display: flex;
          flex-direction: column;
          background: white;
          width: 100%;
          top: 100px;
          left: 0;
          height: 0;
          overflow: hidden;
          justify-content: center;
          position: absolute;
          z-index: 9999999;
          gap: 24px;
          transition: .5s ease-in-out;
          &.active {
            height: calc(100vh - 100px);
          }
        }
        li {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          @media (max-width: 768px) {
            height: 70px;
          }
          .nav-link {
            color: #000;
            font-size: 14px;
            font-weight: 600;
            position: relative;
            transition: all .3s ease-in-out;
            &:hover {
              color: $dark-green;
              &::after {
                width: 100%;
              }
            }
            &.active {
              color: $dark-green;
              &::after {
                width: 100%;
              }
            }
            &::after {
              content: '';
              position: absolute;
              transform: translateX(-50%);
              left: 50%;
              bottom: 2px;
              background-color: $dark-green;
              width: 0;
              height: 2px;
              transition: all .3s ease-in-out;
            }
          }
        }
      }
      .buttons {
        height: 80px;
        display: flex;
        gap: 32px;
        align-items: center;
        @media (max-width: 576px) {
          gap: 16px;
        }
        a {
          border: 1px solid $main;
          color: $main;
          font-size: 16px;
          transition: .3s ease-in-out;
          position: relative;
          font-weight: 500;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 42px;
          &:last-child {
            display: none;
            @media (max-width: 768px) {
              display: flex;
            }
          }
          i {
            line-height: 34px;
          }
          @media (max-width: 576px) {
            font-size: 14px;
            line-height: 30px;
          }
          &::after {
            content: '';
            background-color: $main;
            width: 0;
            border-radius: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transition: .3s ease-in-out;
            border-radius: 4px;
            z-index: -1;
            transform: translateX(-50%);
          }
          &:hover {
            color: #fff;
            border-color: transparent;
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
.hero-section {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
  @media (max-width: 992px) {
    height: fit-content;
    padding-top: 120px;
  }
  .underlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
    opacity: .1;
    z-index: -1;
  }
  .container {
    padding: 0 10px;
  }
  .row {
    height: 100%;
    .col-12 {
      padding: 0 10px;
      img {
        max-width: 100%;
      }
    }
    .text-container {
      h1 {
        font-weight: 600;
        line-height: 1.6;
        margin: 36px 0;
        font-size: 42px;
        color: #000;
        @media (max-width: 576px) {
          font-size: 32px;
          margin: 16px 0;
          line-height: 1.4;
        }
        span {
          color: $main;
          position: relative;
        }
      }
      p {
        font-size: 18px;
        color: #000;
        margin-bottom: 36px;
        @media (max-width: 576px) {
          font-size: 14px;
          line-height: 28px;
          margin-bottom: 16px;
        }
      }
      a {
        border: 1px solid $main;
        color: $main;
        padding: 4px 24px;
        font-size: 14px;
        transition: .3s ease-in-out;
        position: relative;
        font-weight: 500;
        border-radius: 4px;
        align-self: flex-start;
        &::after {
          content: '';
          background-color: $main;
          width: 0;
          height: 100%;
          position: absolute;
          top: 0;
          left: 50%;
          transition: .3s ease-in-out;
          border-radius: 4px;
          z-index: -1;
          transform: translateX(-50%);
        }
        &:hover {
          color: #fff;
          border-color: transparent;
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}
.about-section {
  padding: 60px 12px 0;
  @media (max-width: 576px) {
    padding-top: 120px;
  }
  .content {
    h2 {
      font-size: 28px;
      color: $dark-green;
      font-weight: 600;
      margin-bottom: 20px !important;
      line-height: 48px;
      @media (max-width: 576px) {
        font-size: 24px;
        line-height: 40px;
      }
    }
    h3 {
      color: $main;
      font-size: 20px;
      margin-bottom: 12px !important;
      position: relative;
      width: 120px;
      padding-right: 8px !important;
      &::after {
        position: absolute;
        right: -4px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        position: absolute;
        top: 58%;
        transform: translateY(-50%);
        content: '';
        background: $main;
      }
    }
    p,
    li {
      margin-bottom: 24px !important;
      font-size: 14px;
      line-height: 24px;
      color: $gray;
    }
    li {
      margin-bottom: 4px !important;
    }
  }
  .image {
    width: 100%;
    height: 100%;
    @include centerFlex();
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 12px;
    }
  }
  .our-services {
    padding: 24px 0;
    h4 {
      text-align: center;
      color: $main;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 32px !important;
    }
    .service {
      @include centerFlex();
      flex-direction: column;
      gap: 8px;
      border-radius: 8px;
      border: 1px solid $dark-green;
      background: $light_gray;
      padding: 32px 0;
      img {
        height: 38px;
      }
      h6 {
        font-size: 16px;
        color: $gray;
      }
    }
  }
  .appImgs {
    padding: 70px 0;
    position: relative;
    h2 {
      color: $dark-green;
      text-align: center;
      font-size: 28px;
      margin-bottom: 8px !important;
    }
    p {
      color: $gray;
      font-size: 14px;
      text-align: center;
      margin-bottom: 16px !important;
    }
    .swiper {
      width: 100%;
      padding: 30px 0;
      position: relative;
      display: flex;
      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 234px;
        height: 507px;
        position: relative;
        @media (max-width: 768px) {
          width: 175.5px;
          height: 380px;
        }
        img {
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 16px;
        }
      }
      .frame {
        width: 267px;
        height: 532px;
        @media (max-width: 768px) {
          width: 202.5px;
          height: 401px;
        }
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
    }
    .swiper-wrapper {
      height: auto;
    }
    .swiper-3d .swiper-slide-shadow,
    .swiper-3d .swiper-slide-shadow-bottom,
    .swiper-3d .swiper-slide-shadow-left,
    .swiper-3d .swiper-slide-shadow-right,
    .swiper-3d .swiper-slide-shadow-top {
      border-radius: 16px;
      box-shadow: 0px 2px 4px #00000010;
      border: 4px solid $white;
    }
    .swiper-3d .swiper-slide-shadow-left {
      background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      );
    }
    .swiper-3d .swiper-slide-shadow-right {
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      );
    }
  }
}
.parteners {
  .swiper {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 200px;
    .swiper-slide {
      a {
        height: inherit;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          max-height: 70px;
        }
      }
    }
  }
  .counter-wrapper {
    height: 380px;
    width: 100%;
    background: #d2edf876;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px) {
      height: 420px;
    }
    .underlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../images/building-parallax-img.png);
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100%;
      opacity: .1;
      z-index: -1;
    }
    .col-6 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .icon {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 2px solid $main;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-height: 40px;
      }
    }
    h4 {
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 0;
      font-weight: 600;
    }
    h5 {
      margin: 10px 0;
      font-size: 16px;
    }
  }
}
.contact-section {
  width: 100%;
  padding: 60px 0;
  position: relative;
  .txt {
    text-align: center;
    color: #000;
    font-weight: 500;
    margin-bottom: 48px;
  }
  .hed {
    font-weight: 600;
    color: $main;
    text-align: center;
  }
  svg {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
  .col-12 .shaded-card {
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    padding: 24px 0;
    .input-filed {
      padding: 0 16px;
      margin-bottom: 16px;
      input {
        height: 60px;
        padding: 16px;
        width: 100%;
        outline: none;
        font-size: 14px;
        border-radius: 4px;
        border: solid 1px #ccc;
        transition: .3s ease-in-out;
      }
      textarea {
        width: 100%;
        height: 120px;
        font-size: 14px;
        padding: 16px;
        outline: none;
        border-radius: 4px;
        border: solid 1px #ccc;
        transition: .3s ease-in-out;
      }
      input,
      textarea {
        &:focus {
          border-color: #0f70e5;
        }
      }
    }
    button {
      width: 100%;
      height: 60px;
      border: none;
      outline: none;
      background: $main;
      color: #fff;
      border-radius: 4px;
    }
  }
}
footer {
  background: #fdf7f3;
  .container .col-12 {
    padding: 42px 32px 24px;
    @media (max-width: 576px) {
      padding: 24px;
    }
    &:last-child {
      padding: 24px 0;
    }
    a img {
      max-height: 100px;
    }
    p {
      font-size: 14px;
      line-height: 24px;
      font-weight: 500;
      color: #000;
      margin-bottom: 0;
    }
    .links {
      li {
        margin-bottom: 5px;
        a {
          transition: .3s ease-in-out;
          font-weight: 500;
          font-size: 15px;
          color: #000;
          &:hover {
            color: $main;
          }
        }
      }
    }
  }
  .copy {
    border-top: 1px solid #dbdbdb;
    p {
      color: #000;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 4px;
      a {
        color: $main;
        img {
          height: 28px;
        }
      }
    }
  }
  .social-media {
    display: flex;
    gap: 28px;
    li {
      cursor: pointer;
    }
    a {
      color: $main;
      transition: all .3s ease-in-out;
      &:hover {
        color: $dark-green;
        i {
          transition: .3s ease-in-out;
          transform: scale(1.5);
        }
      }
    }
  }
}
.accordion-button {
  text-align: inherit;
}
.accordion-button,
.accordion-body {
  padding: 16px 0 !important;
}
.accordion-button:not(.collapsed) {
  background: none !important;
}
.accordion-button::after {
  margin-right: auto !important;
  margin-left: initial;
}
.accordion-button:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
.accordion-item {
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom: 1px solid #d7d7d7 !important;
  border-radius: 0 !important;
  p {
    font-size: 14px;
  }
}
.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}
.accordion-button {
  font-size: 14px !important;
  font-weight: 600;
}
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border: 1px solid #484848;
  background: none;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.swiper-pagination-bullet-active {
  border-color: $main;
  &::after {
    background: $main;
  }
}
.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    }
  }
  .form {
    position: absolute;
    width: min(600px, 100% - 32px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 48px 24px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(21, 21, 22, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 24px;
    z-index: 99;
    form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .logo {
        height: 80px;
      }
      h4 {
        text-align: center;
        color: #fff;
        font-size: 20px;
      }
      .input-field {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 8px;
        input {
          height: 50px;
          width: 100%;
          padding: 10px;
          color: #ffffff;
          font-size: 14px;
          background: none;
          outline: none;
          border-radius: 6px;
          border: 1px solid #41483a;
          &::placeholder {
            color: #bababa;
          }
        }
        label {
          font-size: 14px;
          color: #ffffff;
          display: flex;
          align-items: center;
          gap: 4px;
          img {
            height: 14px;
          }
        }
      }
      button {
        width: 100%;
        height: 50px;
        border-radius: 6px;
        border: none;
        outline: none;
        cursor: pointer;
        color: #fff;
        font-size: 16px;
        background: #e3925b;
        font-weight: 400;
      }
    }
  }
}
.check {
  div {
    display: flex;
    align-items: center;
    gap: 6px;
    label {
      color: #fff;
      cursor: pointer;
    }
    input {
      width: 14px;
      height: 14px;
      appearance: none;
      position: relative;
      &::after {
        width: 16px;
        height: 16px;
        content: '';
        border: 1px solid #bababa;
        border-radius: 4px;
        position: absolute;
        cursor: pointer;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        font-size: 12px;
        justify-content: center;
      }
      &:checked:after {
        background: #e3925b;
        background-image: url("../images/check.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border: 0;
      }
    }
  }
}
